<ion-content class="ion-padding">

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Valor inicial</ion-label>
        <ion-input [(ngModel)]="valorInicial" inputmode="decimal"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Aporte mensal</ion-label>
        <ion-input [(ngModel)]="aporteMensal" inputmode="decimal"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select interface="action-sheet" [(ngModel)]="quantidadeAnos" placeholder="Quantidade de anos">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="20">20</ion-select-option>
          <ion-select-option value="25">25</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="simular()">Simular</ion-button>
    </ion-col>
  </ion-row>

  <div *ngIf="visualizarGrafico" class="chartArea">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>
</ion-content>
